---
---

@import "{{ site.theme }}";

#main_content_wrap {
  background-image: url("https://comptag.github.io/atmcs11/assets/images/bridger.jpg");
  background-size: cover;
  background-position: top;
  position:relative;
  }
  #main_content {
    position: relative;
    z-index: 1;
  }
  #main_content::after {
    content:"";
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.81) 20%, rgba(255,255,255,0.94) 40%);
    // backdrop-filter: brightness(1.5) sepia(1);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:-1;
  }